
doctype 5
html
  head
    title node-wiki
    meta(charset='utf-8')
    link(rel='stylesheet',href='page.css')
    //- script(src='http://192.168.1.101:7777/doodle.js')
    script(src='../sea-modules/seajs/1.3.0/sea.js')
    script
      seajs.use('./handle.js')
  body
    #byobu
    #slide
      a#slide-left ↼
      a#slide-right ⇁