* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'wenquanyi micro hei', 'microsoft yahei';
  background: #f2f2f2;
}
body #byobu {
  position: absolute;
  height: 100%;
  min-width: 700px;
}
body #byobu .card {
  width: 700px;
  height: 100%;
  float: left;
  padding: 20px 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}
body #byobu .card:hover {
  background: #f7f7f7;
}
body a {
  text-decoration: none;
  color: #babaf7;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #e6b3b3;
  border-radius: 2px;
}
#slide {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 10px;
}
#slide #slide-left,
#slide #slide-right {
  font-size: 20px;
  margin: 6px;
  background: rgba(92,61,61,0.1);
  border-radius: 3px;
  color: #00f;
}
